%{
if (project.duration!=null)widthTable=22*weeks.size();
widthTable++;}%
<table cellpadding="0" cellspacing="0" pp=${weeks.size()} style="width: ${widthTable}px;">
    <thead>
    <tr>
    #{list items:years,as:'year'}
        <th colspan="${year.merge}">${year.name}</th>
    #{/list}
    </tr>
    <tr>
    #{list items:months,as:'month'}
        <th colspan="${month.merge}">#{if month.merge>=7}${month.name}#{/if}
                                #{elseif month.merge>=3}${controllers.Functions.monthNameShort[month.month]}#{/elseif}
                            #{else }${month.month+1}#{/else}</th>
    #{/list}
    </tr>
    <tr>
    #{list items:weeks,as:'week'}
        <th>${week.name}</th>
    #{/list}
    </tr>
    </thead>
    <tbody>
    %{count=1;}%
    <tr id=p-${project.id} class="project ${count%2==0?'even':'odd'}">
    #{list items:weeks,as:'week'}
    %{
        rangeVal=controllers.Functions.weekRange(project.startDate,project.finishDate,week.date,week.week,week.year);
        if(rangeVal.val==1){}%
        <td class=selected colspan="${rangeVal.length}">
            <div title="${project.name}">&nbsp;</div>
        </td>
    %{}else if(rangeVal.val==0){}%
        <td>&nbsp;</td>
    %{}}%
    #{/list}
    </tr>
    %{count++;}%
    #{list items:projectObjects,as:'object'}
    <tr id=o-${object.id} class="object ${count%2==0?'even':'odd'}">
        #{list items:weeks,as:'week'}
        %{
            rangeVal=controllers.Functions.weekRange(object.startDate,object.finishDate,week.date,week.week,week.year);
            if(rangeVal.val==1){}%
            <td class=selected colspan="${rangeVal.length}">
                <div title="${object.name}">&nbsp;</div>
            </td>
        %{}else if(rangeVal.val==0){}%
            <td>&nbsp;</td>
        %{}}%
        #{/list}
    </tr>
    %{count++}%
        #{list items:object.taskGroups,as:'taskGroup'}
        <tr id=g-${taskGroup.id} class="taskGroup ${count%2==0?'even':'odd'}">
            #{list items:weeks,as:'week'}
            %{
                rangeVal=controllers.Functions.weekRange(taskGroup.startDate,taskGroup.finishDate,week.date,week.week,week.year);
                if(rangeVal.val==1){}%
                <td class=selected colspan="${rangeVal.length}">
                    <div title="${taskGroup.name}">&nbsp;</div>
                </td>
            %{}else if(rangeVal.val==0){}%
                <td>&nbsp;</td>
            %{}}%
            #{/list}
        </tr>
        %{count++}%
            #{list items:taskGroup.tasks,as:'task'}
            <tr id=t-${task.id} class="task ${count%2==0?'even':'odd'}">
                #{list items:weeks,as:'week'}
                %{
                    rangeVal=controllers.Functions.weekRange(task.startDate,task.finishDate,week.date,week.week,week.year);
                    if(rangeVal.val==1){}%
                    <td class=selected colspan="${rangeVal.length}">
                        <div title="${task.name}">&nbsp;</div>
                    </td>
                %{}else if(rangeVal.val==0){}%
                    <td>&nbsp;</td>
                %{}}%
                #{/list}
            </tr>
            %{count++}%
                #{list items:object.floors,as:'floor'}
                <tr id=f-${task.id}-${floor.id} class="floor ${count%2==0?'even':'odd'}">
                %{
                    taskFloorRel=task.getRel(floor.id);
                    if(taskFloorRel!=null){
                    for(controllers.MyClass.MyWeek week:weeks){
                    rangeVal=controllers.Functions.weekRange(taskFloorRel.startDate,taskFloorRel.finishDate,week.date,week.week,week.year);
                    if(rangeVal.val==1){}%
                    <td class=selected colspan="${rangeVal.length}">
                        <div title="${taskFloorRel.task.name} - ${taskFloorRel.floor.name}">&nbsp;</div>
                    </td>
                %{}else if(rangeVal.val==0){}%
                    <td>&nbsp;</td>
                %{}}
                    }else{}%
                    #{list items:weeks,as:'week'}
                        <td>&nbsp;</td>
                    #{/list}
                %{};count++}%
                </tr>
                #{/list}
            #{/list}
        #{/list}
    #{/list}
    </tbody>
</table>