#{extends 'CRUD/layout.html' /}

<div id="crudList" class="${type.name}">
    <div id="crudListContainer">
        <div id="crudListSearch">
            <p id="crudListAdd">
                <a href="@{blank()}">&{'crud.add', type.modelName}</a>
            </p>
        #{crud.search /}

        </div>

        <div id="crudListTable">
        #{crud.table
        fields:['name','company','users'],sort:['name','company']}

            #{crud.custom 'name'}
                <a href="@{show(object.id)}">${object.name}</a>
            #{/crud.custom}

            #{crud.custom 'company'}
            ${object.company}
            #{/crud.custom}

            #{crud.custom 'users'}
            ${object.users.size()}
            #{/crud.custom}

        #{/crud.table }
        </div>

        <div id="crudListPagination">
        #{crud.pagination /}
        </div>
    </div>

</div>
