#{set title: play.i18n.Messages.get('Drawing')/}
#{set dataPage: 'posts'/}
#{set baseClass: 'posts'/}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/fancyBox2/source/jquery.fancybox.css?v=2.1.5" media="screen"/>
<link rel="stylesheet" type="text/css" href="/public/fancyBox2/source/helpers/jquery.fancybox-buttons.css?v=1.0.5"/>
<link rel="stylesheet" type="text/css" href="/public/fancyBox2/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7"/>
<link rel="stylesheet" type="text/css" media="all" href="/assets/plugins/range-datepicker/daterangepicker-bs3.css"/>
<link rel="stylesheet" href="/assets/plugins/magnific/magnific-popup.css">
<link href="/assets/plugins/modal/css/component.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/plugins/font-awesome-animation/font-awesome-animation.min.css">
#{/set}
#{set 'moreScripts'}
<script src="/public/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="/public/fancyBox2/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/public/fancyBox2/source/jquery.fancybox.js?v=2.1.5"></script>

<!-- Add Button helper (this is optional) -->
<script type="text/javascript" src="/public/fancyBox2/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

<script type="text/javascript" src="/public/fancyBox2/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="/public/fancyBox2/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>


<!-- BEGIN MANDATORY SCRIPTS -->
<script src="/assets/plugins/jquery-migrate-1.2.1.js"></script>
<script src="/public/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
<script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/plugins/bootstrap-select/bootstrap-select.js"></script>
<script src="/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
<script src="/assets/plugins/nprogress/nprogress.js"></script>
<script src="/assets/plugins/charts-sparkline/sparkline.min.js"></script>
<script src="/assets/plugins/breakpoints/breakpoints.js"></script>
<script src="/assets/plugins/numerator/jquery-numerator.js"></script>
<!-- END MANDATORY SCRIPTS -->
<!-- BEGIN  PAGE LEVEL SCRIPTS -->
<script src="/assets/plugins/modal/js/classie.js"></script>
<script src="/assets/plugins/modal/js/modalEffects.js"></script>
<script src="/assets/plugins/gallery-mixitup/jquery.mixitup.js"></script>
<!-- END  PAGE LEVEL SCRIPTS -->

#{/set}