<script>
    function showErrorMessage(message) {
        jError(message, {
            HorizontalPosition: "center",
            VerticalPosition: "center",
            ShowOverlay: false,
            TimeShown: 2000,
            OpacityOverlay: 0.5,
            MinWidth: 250
        });
    }
    function showSuccessMessage(message) {
        jSuccess("<i class='fa fa-check' style='padding-right:6px'></i> " + message, {
            HorizontalPosition: "center",
            VerticalPosition: "center",
            ShowOverlay: false,
            TimeShown: 2000,
            OpacityOverlay: 0.5,
            MinWidth: 250
        });
    }
    $(document).ready(function () {
    #{if flash.success}
        setInterval(showSuccessMessage('${flash.success}'), 3000);
    #{/if}

    #{if flash.error || error}
        setInterval(showErrorMessage('${error ?: flash.error}'), 3000);
    #{/if}
    });
</script>