#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        <p id="crudListAdd">
            <a href="@{blank(functionArguments)}" class="edd">&{'crud.add', type.modelName}</a>
        </p>
    #{crud.search functionArguments:functionArguments/}
    </div>

    <div id="crudListTable">
    #{crud.table fields:['name','taskGroups','floors','startDate','finishDate','duration','completedPercent','owner'],sort:[] }
        #{crud.custom 'name'}
            <a href="@{show(object.id)}" class="edd" title="Засах">${object.name}</a>
        #{/crud.custom}
        #{crud.custom 'taskGroups'}
            <a href="@{controllers.TaskGroups.list(object.id)}" class="edd">${object.taskGroups.size()}</a>
        #{/crud.custom}
        #{crud.custom 'floors'}
            <a href="@{controllers.Floors.list(object.id)}" class="edd">${object.floors.size()}</a>
        #{/crud.custom}
        #{crud.custom 'startDate'}
        ${object.startDate?.format('yyyy-MM-dd')}
        #{/crud.custom}
        #{crud.custom 'finishDate'}
        ${object.finishDate?.format('yyyy-MM-dd')}
        #{/crud.custom}
    #{/crud.table}
    </div>

    <div id="crudListPagination">
    #{crud.pagination /}
    </div>
</div>
#{include "SharedView/sortParentId.html"/}

